body {
    background-color: #eee;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 51px auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}
.btn-block {
    display: block;
    width: 24%;
    margin-left: 100px;
}
.edit {
    background-color: #b7ccb7;
    height:600px;
}

